In [ ]:
import pandas as pd
import numpy as np
from jcopml.utils import save_model

In [29]:
df = pd.read_csv('./data/movies_metadata.csv', parse_dates=['release_date'])
df.head()

C:\Users\User\miniconda3\envs\jlml\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [30]:
df = df[['original_title', 'genres', 'release_date', 'runtime', 'vote_average', 'vote_count']]

In [31]:
df.isna().sum()

original_title      0
genres              0
release_date       87
runtime           263
vote_average        6
vote_count          6
dtype: int64

In [32]:
df['runtime'].unique()

array([8.100e+01, 1.040e+02, 1.010e+02, 1.270e+02, 1.060e+02, 1.700e+02,
       9.700e+01, 1.300e+02, 8.800e+01, 7.800e+01, 1.920e+02, 1.190e+02,
       1.780e+02, 1.360e+02, 9.800e+01, 9.000e+01, 1.030e+02, 1.050e+02,
       1.240e+02, 1.320e+02, 1.110e+02, 1.120e+02, 1.230e+02, 1.000e+02,
       1.080e+02, 9.900e+01, 1.290e+02, 5.000e+01, 8.900e+01, 1.210e+02,
       1.220e+02, 5.100e+01, 1.170e+02, 1.160e+02, 9.600e+01, 9.300e+01,
       9.500e+01, 1.150e+02, 1.370e+02, 9.200e+01, 8.500e+01, 9.100e+01,
       1.750e+02, 8.700e+01, 7.000e+01, 1.180e+02, 1.020e+02, 1.350e+02,
       1.100e+02, 1.770e+02, 1.140e+02, 1.130e+02, 8.600e+01, 1.250e+02,
       1.400e+02, 1.390e+02, 8.200e+01, 8.300e+01, 1.280e+02, 1.090e+02,
       8.000e+01, 1.340e+02, 1.070e+02, 9.400e+01, 1.450e+02, 7.300e+01,
       0.000e+00, 7.700e+01, 1.710e+02, 1.330e+02, 1.540e+02, 1.620e+02,
       1.420e+02, 1.260e+02, 1.410e+02, 1.800e+02, 1.910e+02, 6.100e+01,
       8.400e+01, 1.440e+02, 1.310e+02, 1.380e+02, 1.950e+02, 1.870e+02,
       7.600e+01, 1.200e+02, 1.600e+02, 1.810e+02, 6.000e+01,       nan,
       7.900e+01, 2.500e+01, 7.500e+01, 7.400e+01, 3.000e+01, 1.490e+02,
       7.100e+01, 2.380e+02, 2.010e+02, 1.670e+02, 6.500e+01, 1.430e+02,
       6.400e+01, 1.740e+02, 1.470e+02, 1.510e+02, 6.900e+01, 6.000e+00,
       6.200e+01, 1.610e+02, 2.160e+02, 1.530e+02, 1.680e+02, 2.000e+02,
       2.300e+01, 2.290e+02, 1.930e+02, 1.630e+02, 6.800e+01, 1.720e+02,
       1.830e+02, 2.120e+02, 2.870e+02, 1.590e+02, 1.500e+02, 2.420e+02,
       7.200e+01, 1.550e+02, 1.940e+02, 4.400e+01, 1.760e+02, 1.520e+02,
       2.070e+02, 1.640e+02, 1.690e+02, 1.970e+02, 1.880e+02, 8.000e+00,
       5.200e+01, 6.300e+01, 1.800e+01, 1.820e+02, 6.700e+01, 1.840e+02,
       1.980e+02, 1.560e+02, 2.700e+01, 1.570e+02, 1.480e+02, 1.580e+02,
       1.890e+02, 1.460e+02, 5.600e+01, 2.020e+02, 3.300e+01, 1.650e+02,
       5.000e+00, 2.980e+02, 4.200e+01, 2.540e+02, 1.990e+02, 2.170e+02,
       2.480e+02, 1.730e+02, 5.300e+01, 4.000e+01, 4.500e+01, 4.600e+01,
       3.800e+01, 2.700e+02, 3.700e+01, 2.190e+02, 1.850e+02, 5.400e+01,
       5.800e+01, 2.080e+02, 5.500e+01, 1.790e+02, 2.030e+02, 2.140e+02,
       2.390e+02, 2.240e+02, 1.860e+02, 5.700e+01, 5.660e+02, 5.900e+01,
       4.900e+01, 6.600e+01, 2.200e+02, 2.830e+02, 2.730e+02, 3.200e+02,
       3.660e+02, 2.250e+02, 2.920e+02, 1.660e+02, 2.800e+01, 2.000e+01,
       2.400e+01, 4.100e+01, 2.600e+01, 3.150e+02, 2.360e+02, 2.460e+02,
       3.200e+01, 1.600e+01, 2.900e+01, 2.410e+02, 2.050e+02, 4.220e+02,
       3.170e+02, 3.600e+02, 2.060e+02, 3.400e+02, 7.200e+02, 4.300e+01,
       2.860e+02, 4.170e+02, 2.100e+02, 4.800e+01, 4.700e+01, 3.500e+01,
       2.670e+02, 2.510e+02, 1.400e+01, 4.500e+02, 3.100e+01, 2.040e+02,
       1.900e+02, 3.520e+02, 2.000e+00, 2.210e+02, 3.400e+01, 1.200e+01,
       2.370e+02, 2.550e+02, 3.900e+01, 3.160e+02, 2.130e+02, 3.320e+02,
       1.500e+01, 5.010e+02, 5.520e+02, 2.500e+02, 2.450e+02, 9.310e+02,
       3.990e+02, 2.350e+02, 9.250e+02, 2.600e+02, 2.230e+02, 1.300e+01,
       7.000e+00, 2.520e+02, 3.000e+00, 9.000e+00, 4.420e+02, 2.400e+02,
       2.640e+02, 2.300e+02, 3.450e+02, 3.000e+02, 2.200e+01, 2.340e+02,
       3.570e+02, 2.710e+02, 1.100e+01, 2.100e+01, 3.380e+02, 1.000e+01,
       1.000e+00, 1.900e+01, 2.150e+02, 1.700e+01, 4.100e+02, 3.360e+02,
       4.000e+00, 2.720e+02, 2.810e+02, 2.630e+02, 2.890e+02, 6.800e+02,
       3.600e+01, 3.700e+02, 8.740e+02, 1.140e+03, 4.000e+02, 3.920e+02,
       4.850e+02, 2.770e+02, 6.000e+02, 5.510e+02, 2.880e+02, 3.340e+02,
       2.440e+02, 4.700e+02, 2.910e+02, 1.960e+02, 1.256e+03, 2.850e+02,
       2.330e+02, 2.940e+02, 2.820e+02, 5.610e+02, 2.650e+02, 3.860e+02,
       8.770e+02, 2.580e+02, 5.400e+02, 9.000e+02, 2.320e+02, 4.640e+02,
       2.110e+02, 6.690e+02, 4.760e+02, 3.950e+02, 2.900e+02, 4.520e+02,
       3.130e+02, 3.590e+02, 5.000e+02, 8.400e+02, 5.850e+02, 3.630e+02,
       4.400e+02, 6.440e+02, 3.890e+02, 2.220e+02, 5.430e+02, 2.270e+02,
       4.680e+02, 4.320e+02, 2.680e+02, 3.210e+02, 5.230e+02, 3.880e+02,
       3.500e+02, 4.800e+02, 3.110e+02, 5.500e+02, 4.630e+02, 3.830e+02,
       4.360e+02, 2.470e+02, 3.530e+02, 2.090e+02, 3.060e+02, 2.990e+02,
       3.490e+02, 3.300e+02, 7.050e+02, 5.830e+02, 2.750e+02, 7.800e+02])

In [33]:
df.replace('nan', np.nan, inplace=True)

In [34]:
df.dropna(inplace=True)

## Check release_date column

In [35]:
def get_year(data):
    data = data.split('-')[0]
    return data

In [36]:
df['release_year'] = df['release_date'].apply(get_year)
df.drop(columns='release_date', inplace=True)

In [37]:
df['genres'][0]

"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"

In [38]:
import json

In [45]:
# format json kurang tepat, untuk keys harusnya menggunakan quotation mark ""
json.loads("[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]")

JSONDecodeError: Expecting property name enclosed in double quotes: line 1 column 3 (char 2)

In [41]:
x = json.loads(df['genres'][0].replace("'", '"'))

In [42]:
x[0]['name']

'Animation'

In [50]:
def get_genre(data):
    data = json.loads(data.replace("'",'"'))
    genre = [datum['name'] for datum in data]
    return ': '.join(genre)

In [44]:
df['genres'] = df['genres'].apply(get_genre)
df.head()

,original_title,genres,runtime,vote_average,vote_count,release_year
0,Toy Story,Animation: Comedy: Family,81.0,7.7,5415.0,1995
1,Jumanji,Adventure: Fantasy: Family,104.0,6.9,2413.0,1995
2,Grumpier Old Men,Romance: Comedy,101.0,6.5,92.0,1995
3,Waiting to Exhale,Comedy: Drama: Romance,127.0,6.1,34.0,1995
4,Father of the Bride Part II,Comedy,106.0,5.7,173.0,1995

## Create one hot encoding / dummy variables for genres

In [ ]:
dummy_genre = df['genres'].str.get_dummies('; ')
dummy_genre

In [ ]:
df = df.join(dummy_genre)
df.head()

# Demographic filtering

## Step 1 : Filter data

In [ ]:
genres = ['Animation', 'Family']
min_runtime = 60
max_runtime = 120
min_year = 2010
max_year = 2020
topN = 10