# List

> List bersifat **mutable** yang berarti data pada list bisa kita ubah atau modifikasi

In [3]:
# membuat list
my_list = ['naufal', 'cakra', 'luthfan']

In [6]:
# mengakses data pada list. List menggunakan index dimana index pertama selalu dimulai dari 0
my_list[2]

'luthfan'

In [7]:
# mengganti data dari list pada index ke-2
my_list[2] = 'ayyub'

In [15]:
type(my_list)

list

In [11]:
# menambahkan data pada list yang sudah ada
my_list.append('luthfan')

In [13]:
# menghapus data pada list. Jika datanya duplicate, yang dihapus adalah yang paling terakhir atau 
# data dengan index yang lebih besar 
my_list.remove('luthfan')

In [38]:
# mencari index dari sebuah data
my_list.index('luthfan')

3

In [39]:
# subset list dari index ke-1 hingga data terakhir
del my_list[1:]
my_list

In [16]:
# list bisa diisi dengan data dengan tipe data berbeda
a = ['nama', 2, 1.0, True]

In [17]:
a

['nama', 2, 1.0, True]

# Tuple

> Tuple besifat **imutable** artinya data yang sudah ada di dalam tidak bisa diubah atau diganti dengan data lain

In [18]:
# membuat tuple dan menyimpannya ke dalam variable
my_list_2 = ('naufal', 'cakra', 'luthfan')

In [20]:
# mengakses data pada tuple
my_list_2[0]

'naufal'

In [21]:
# tidak bisa mengganti data pada tuple index ke-0
my_list_2[0] = 'ayyub'

TypeError: 'tuple' object does not support item assignment

# Set

> Set bersifat **unique**, untuk 1 value tidak bisa ada duplikat.

In [22]:
# membuat set dan menyimpannya pada sebuah variabel
my_list_3 = {'naufal', 'cakra', 'luthfan'}

In [37]:
my_list_3

{'ayyub', 'cakra', 'luthfan', 'naufal'}

In [32]:
# menambah data baru di set
my_list_3.add('ayyub')

In [46]:
kota_A = ['jakarta', 'tangerang selatan', 'bogor']
kota_B = ['pekanbaru', 'yogyakarta', 'bogor']

In [47]:
# merubah list menjadi set
kota_A = set(kota_A)
kota_B = set(kota_B)

In [43]:
type(kota)

set

In [49]:
# mencari perbedaan data pada kota_A terhadap kota_B
diff_kota = kota_A.difference(kota_B)

In [51]:
diff_kota

{'jakarta', 'tangerang selatan'}

In [52]:
# mencari persamaan antara kota_A dan kota_B
kota_A.intersection(kota_B)

{'bogor'}

In [53]:
# menggabungkan seluruh data yang ada pada kota_A dan kota_B
kota_A.union(kota_B)

{'bogor', 'jakarta', 'pekanbaru', 'tangerang selatan', 'yogyakarta'}