Common Problems
- Incorrect data types
- Missing Values
- Duplicate
- Outlier

In [17]:
import pandas as pd

In [18]:
df = pd.read_csv('./data/cancer_data_mean.csv', index_col = 0)
df.head()

,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave_points_mean,symmetry_mean,fractal_dimension_mean
0,17.99,NaN,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,0.2419,0.07871
1,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,0.1812,0.05667
2,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,0.2069,0.05999
3,11.42,20.38,77.58,386.1,NaN,0.28390,0.2414,0.10520,0.2597,0.09744
4,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,0.1809,0.05883

# Cek data bolong

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 569 entries, 0 to 568
Data columns (total 10 columns):
radius_mean               569 non-null float64
texture_mean              548 non-null float64
perimeter_mean            569 non-null float64
area_mean                 569 non-null float64
smoothness_mean           521 non-null float64
compactness_mean          569 non-null float64
concavity_mean            569 non-null float64
concave_points_mean       569 non-null float64
symmetry_mean             504 non-null float64
fractal_dimension_mean    569 non-null float64
dtypes: float64(10)
memory usage: 48.9 KB

In [20]:
df.isna().sum()

radius_mean                0
texture_mean              21
perimeter_mean             0
area_mean                  0
smoothness_mean           48
compactness_mean           0
concavity_mean             0
concave_points_mean        0
symmetry_mean             65
fractal_dimension_mean     0
dtype: int64

Untuk mengisi data bolong, treatment yang kita ambil adalah mengisi dengan nilai mean

In [21]:
df = df.fillna(df.mean())

# Cek data duplikat

In [22]:
df.duplicated().sum()

5

In [23]:
df.drop_duplicates(inplace=True)

In [26]:
df.duplicated().sum()

0

In [25]:
df.to_csv('./data/cancer_data_mean.csv')