# Tipe data

> `type()` merupakan sebuah fungsi yang dapat digunakan untuk mengetahui tipe data. Parameter yang dimasukkan dalam fungsi `type()` dapat berupa data maupun variable.

Tipe data pada dasarnya ada 4, yaitu:
- string atau str
- integer atau int
- float 
- boolean atau bool

In [1]:
type('nama')

str

In [3]:
type(1)

int

In [4]:
type(1.0)

float

In [5]:
type(True)

bool

# Variabel

> Variabel dapat digunakan untuk menyimpan data sehingga data tersebut dapat dipanggil kembali jika dibutuhkan.

In [7]:
nama = 'naufal'

In [8]:
nama

'naufal'

In [10]:
a = 1900
a

1900

In [13]:
# integer + float
a + 100.5

2000.5

In [14]:
# data integer dan string tidak bisa dilakukan operasi penjumlahan
a + 'nama'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [15]:
# menyimpan hasil operasi matematik antar 2 variabel ke variabel baru
price = 9.99
discount = 0.2

result = price*(1-discount)

In [16]:
result

7.992000000000001

In [19]:
name = 'naufal'
print(name)

naufal

In [24]:
# perkalian bisa diberlakukan pada data string
print(name*3)

naufalnaufalnaufal

# String

In [28]:
# string
name = 'Cakra'
print(name + ' makan gorengan')

Cakra makan gorengan

In [31]:
# f-string
print(f"{name} makan gorengan")

# format
print("{} makan gorengan".format(name))

Cakra makan gorengan
Cakra makan gorengan

# Input

> `input` merupakan sebuah fungsi yang bertujuan untuk memberikan pertanyaan ataupun hal lainnya yang membutuhkan interaksi. Hasil input-an bisa disimpan ke dalam sebuah variabel jika diperlukan.

In [34]:
# default tipe data dari input adalah string, disini kita mengubah tipe data input menjadi integer
size = int(input("Seberapa besar rumah kamu (dalam meter persegi):"))

Seberapa besar rumah kamu (dalam meter persegi):140

In [38]:
size = int(input("Seberapa besar rumah kamu (dalam meter persegi):"))
dm_size = size*100
print(f"rumah saya luasnya adalah {dm_size} decimeter persegi")

Seberapa besar rumah kamu (dalam meter persegi):50
rumah saya luasnya adalah 5000 decimeter persegi