In [1]:
import pandas as pd
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from string import punctuation

In [2]:
sw_indo = stopwords.words('indonesian') + list(punctuation)

# Import Data

In [3]:
df = pd.read_csv('./data/kompas.csv')
df.head()

                                                teks
0  Ginandjar Tetap Ditahan. Jaksa Agung Dilaporka...
1  Jakarta Dikangkangi Para Preman\nKALAU tak pun...
2  Penyimpangan di Setpres Seolah Terjadi Sekaran...
3  Dibayarkan, Rapel Kenaikan Gaji Pegawai Pos\nK...
4  Stop Kekerasan, Elite agar Duduk Bersama\nSeju...

# Tfidf - ngram

In [4]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [5]:
tfidf = TfidfVectorizer(ngram_range=(1, 2), stop_words=sw_indo, tokenizer=word_tokenize)
tfidf_matrix = tfidf.fit_transform(df['teks'])

/home/naufalabdila/miniconda3/envs/jlml/lib/python3.7/site-packages/sklearn/feature_extraction/text.py:385: UserWarning: Your stop_words may be inconsistent with your preprocessing. Tokenizing the stop words generated tokens ['``'] not in stop_words.
  'stop_words.' % sorted(inconsistent))

In [6]:
pd.DataFrame(tfidf_matrix.toarray(), columns=tfidf.get_feature_names())

,'','' '','' 'id,'' -ada,'' -bahasa,'' -bahwa,'' -dan,'' -di,'' -jatuh,'' -kini,...,zuniga memilih,zunnatul,zunnatul mafruhah,zurich,zurich northholt,zw,zw suparman,zw tim,zx,zx diserbu
0,0.021151,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.047034,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.031788,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.047691,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2003,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2004,0.015507,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2005,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2006,0.022014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2007,0.007130,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Tfidf similarity

Mencari similarity dari matriks dokumen menggunakan cosine similarity.

In [7]:
from sklearn.metrics.pairwise import cosine_similarity

In [22]:
sim = cosine_similarity(tfidf_matrix[0], tfidf_matrix)
sim

array([[1.        , 0.00858328, 0.01060043, ..., 0.00856287, 0.00677808,
        0.01513341]])

In [21]:
# melihat indeks dokumen similar, lihat yang terdekat dari belakang
sim.argsort()

array([[ 932, 1131, 1593, ...,  215,  144,    0]])

In [16]:
# cek dokumen indeks ke - 0
df['teks'][0][:200]

'Ginandjar Tetap Ditahan. Jaksa Agung Dilaporkan ke Polri\nKejaksaan Agung memutuskan untuk tetap menahan tersangka kasus korupsi, Ginandjar Kartasasmita, sampai batas waktu yang ditentukan KUHAP. Sedan'

In [17]:
# cek dokumen dengan similarity terdekat pertama
df['teks'][144][:200]

'Kejaksaan Agung Terbitkan Surat Penahanan Baru\nKejaksaan Agung (Kejagung) akhirnya menerbitkan surat perintah penahanan yang baru terhadap mantan Menteri Pertambangan dan Energi Ginandjar Kartasasmita'

In [18]:
# cek dokumen dengan similarity terdekat kedua
df['teks'][215][:200]

'Kuasa Hukum Ginandjar Bertahan di Rutan\nSejumlah kuasa hukum Ginandjar Kartasasmita hingga hari Selasa (17/4) pukul 22.00 masih bertahan di ruang tahanan (rutan) Kejaksaan Agung (Kejagung). Selasa pag'

In [19]:
# cek data dengan similarity terkecil
df['teks'][932][:200]

'Pusat Pengolahan Ikan Asin Lhokseumawe Terbakar\nPusat pengolahan ikan asin di kawasan Pasar Ikan Lhokseumawe (Aceh) terbakar bersama berton-ton stok ikan asin Sabtu (13/1) siang. Sedikitnya 25 gudang '

# Keyword extraction

Dari tfidf sudah memberikan bobot untuk tiap kata, berarti disini kita bisa mencari keyword dari tiap dokumen.

In [24]:
vocab = tfidf.get_feature_names()

In [25]:
type(vocab)

list

In [29]:
sorted_tfidf = tfidf_matrix[0].toarray()[0].argsort()
sorted_tfidf

array([274212, 365469, 365468, ..., 386379, 436652, 169219])

In [30]:
vocab[169219]

'ginandjar'

In [31]:
vocab[436652]

'putusan'

Melihat top 10 keyword pada dokumen index ke - 0

In [33]:
key_id = [vocab[idx] for idx in sorted_tfidf[-10:]]

In [34]:
key_id

['9 april',
 'kuasa',
 'hakim rusman',
 'kejaksaan',
 'rusman',
 'kuasa hukum',
 'hukum ginandjar',
 'penahanan',
 'putusan',
 'ginandjar']

In [53]:
def extract_keyword(data, tfidf, top=10):
    matrix = tfidf.fit_transform([data])
    vocab = tfidf.get_feature_names()
    
    sorted_tfidf = matrix[0].toarray()[0].argsort()
    keywords = [vocab[idx] for idx in sorted_tfidf]
    return keywords[-top:]

In [47]:
tfidf = TfidfVectorizer(ngram_range=(1, 2), stop_words=sw_indo, tokenizer=word_tokenize)

In [55]:
data = """
KOMPAS.com - Pebalap veteran asal tim Monster Energy Yamaha, Valentino Rossi, menyatakan kembali keresahannya dengan ban dari Michelin jelang MotoGP Austria. Seri MotoGP Austria akan berlangsung pada Minggu (16/8/2020) di Sirkuit Red Bull Ring mulai pukul 19.00 WIB. Rossi sejatinya sudah menyatakan komplain soal ban sejak seri pertama MotoGP 2020 di Sirkuit Jerez. Kali itu, dia menganggap ban belakang dari Michelin membuatnya gagal finis di MotoGP Spanyol. Baca juga: Start Ke-12 pada MotoGP Austria 2020, Rossi: Segalanya Bisa Terjadi Akan tetapi, pebalap 41 tahun tersebut introspeksi diri untuk mengatasi masalahnya dengan ban buatan pabrik asal Perancis tersebut. Sebab, Michelin merupakan pemasok tunggal ban di MotoGP 2020. Artinya, semua rider mengalami nasib yang sama. Sementara pada MotoGP Austria, Rossi kembali mengeluh soal ban dalam sesi free practice (FP) hingga Kualifikasi (Q) yang digelar Sabtu (15/8/2020). "Kami bekerja dengan baik selama FP4 . Sayangnya, pagi ini (Sabtu) kondisinya sangat sulit," kata Rossi dikutip laman resmi Monster Energy Yamaha. Baca juga: Reaksi Valentino Rossi Saat Tahu Andrea Dovizioso Hengkang dari Ducati "Tetapi pada sore harinya kami melihat perkembangan yang bagus dengan motor." "Saya tampil bagus di FP4, tetapi Q1 begitu rumit, karena Anda perlu membuat waktu putaran dekat dengan posisi terdepan untuk masuk ke Q2.
"""

In [56]:
extract_keyword(data=data, tfidf=tfidf, top=5)

['austria', 'motogp austria', 'ban', 'rossi', 'motogp']